.venv
__pycache__/
*.pyc

.env

logs/
data/
ignored/
napcat_qq_data/
src/mybot.egg-info/

src/plugins/__pycache__/
src/plugins/assets/
web/__pycache__/
web/frontend/node_modules/

src/plugins/eat_data.json
src/plugins/usage_data.json

